/*
  MOOC on Web Cartography

  Synchronized maps.

  ©2018 Institute of Cartography and Geoinformation
  H. R. Baer, hbaer@ethz.ch
*/

html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  width: 100%;
  height: 95%;
  margin-bottom: 5%;
  font-size: 10; /* avoids the mysterious 4px gap */
}

#map-3 {
  grid-column: 1 / 2;
  grid-row: 1; 
  position: relative;
}
#map-4 {
  grid-column: 2 / 3;
  grid-row: 1;
  background: rgba(243, 239, 239, 0.918);
  position: relative;
}
